section.development-paths {
  $dev-paths-color: #2980b9;
  color: $dev-paths-color;
  h2{
    color: $dev-paths-color;
  }
  img {
    vertical-align: top;
    max-height: 165px;
  }
}
.emphasis {
  * strong {
    color: #16a085;
  }
}

.box-wrapper-inner {
  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;

  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
}
.box1 {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;

  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}

.box2 {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;

  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}

