.pane .bar-positive.bar.bar-header {
    background-color: #16a085;
    border-color: #16a085;
    background-image: none;

}
.pane .bar-positive.bar.bar-header button.button {
    background-color: #16a085;
    border-color: #0E8C73;
}
.pane .bar-positive.bar.bar-header .ion-ios-minus-outline {
    border: none;
}